body{
    background: #19350F;
    color: #FFFFFF;
    font-family: Arial, serif;
    font-size: 1.5vw;
}
h1{
    font-size: 4vw;
    font-family: Arial, serif;
    color: white;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 1vw;
}
.hide {
  display: none;
}
.help{
    cursor: default;
    border: #FFFFFF solid 3px;
    border-radius: 10px;
    padding: 1vw;
}
.help:hover{
    background: #FFFFFF;
    color: #19350F;
}
.help:hover + .hide {
    display: block;
    color: #FFFFFF;
    text-align: center;
    margin-top: 2vw;
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;
    font-size: 1vw;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input, label{
    color: #FFFFFF;
    font-size: 1.8vw;
    font-family: Arial, serif;
    padding: 0.1vw 0.1vw;
    margin: 1.5vw;
    text-align: center;
    -webkit-box-shadow: none;
    -moz-appearance: textfield;
}
label{
    width: 30vw;
    height: 3vw;
}
#expression{
    width: 70vw;
    height: 5vw;
}
#error{
    background: #FFFFFF;
    color: #19350F;
    border: #FFFFFF 3px solid;
    border-radius: 10px;
    padding: 1vw;
}
.n_input{
    background: none;
    border: #FFFFFF 3px solid;
    border-radius: 10px;
    padding: 1vw;
}
.n_input.first{
    font-size: 3vw;
    width: 10vw;
    height: 5vw;
}
.n_input.second{
    width: 10vw;
    height: 5vw;
    font-size: 1.5vw;
}
.n_input.second:hover{
    background: #FFFFFF;
    color: #19350F;
}
.n_input:hover{
    cursor: pointer;
}

.n_input:focus{
    outline: none;
}