body{
    background: #19350F;
    color: #FFFFFF;
    font-family: Arial, serif;
    font-size: 1vw;
    text-align: center;
}
h1{
    font-size: 3vw;
}
div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5vw 0.5vw;
}
.groups{
    display: flex;
    flex-direction: column;
    border: #FFFFFF solid 0.1vw;
    padding: 0 3vw;
    background: #234A15;
    font-size: 1.3vw;
}

.button{
    background: none;
    color: #FFFFFF;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    -webkit-box-shadow: none;
    -moz-appearance: textfield;
    font-family: Arial, serif;
}
.button[type=submit]{
    width: auto;
    height: 4.1vw;
    font-size: 1.1vw;
    margin: 1vw;
    border: 0.2vw #FFFFFF solid;
}
.button[type=button]{
    width: 4vw;
    border: none;
    font-size: 1vw;
}
#exp{
    width: auto;
    padding: 1vw 1vw;
    border: 0.2vw #FFFFFF solid;
    font-size: 2vw;
}
.button:hover{
    background: #FFFFFF;
    color: #19350F;
    cursor: pointer;
}
.button:focus{
    outline: none;
}

table{
    border: #FFFFFF solid 2px;
    border-collapse: collapse;
    margin: 0.5vw;
}
tr:nth-child(1n){
    background: #234A15;
}

.y:nth-child(1){
    border-right: #FFFFFF solid 0.1vw;
    background: #19350F;
}
.x{
    border-bottom: #FFFFFF solid 0.1vw;
    background: #19350F;
}
#nothing{
    border-right: #FFFFFF solid 0.1vw;
    border-bottom: #FFFFFF solid 0.1vw;
    background: #19350F;
}

th{
    width: auto;
    padding: 0 0.7vw;
    border: none;
}

img{
    width: 50vw;
    margin: 5vw;
}
span{
    border-width: 0.2vw;
    border-radius: 30px;
    border-style: solid;
    padding: 0.4vw 0.8vw;
}